# Start at 8 AM weekdays
0 8 * * 1-5 docker exec stock-monitor sh -c "pm2 start index.js --name puppeteer-app && ngrok http --url=engaging-purely-rabbit.ngrok-free.app 3000"

# Stop at 4 PM weekdays  
0 16 * * 1-5 docker exec stock-monitor sh -c "pm2 stop all; pkill -f ngrok"
